<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <h1>404 ERR</h1>
        <p>The page you are searching is not available</p>
    </body>
</html>
