<html>
    <head>
        <title>Home</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/home.js"></script>
    </head>
    <body>
        {{>header}}
            <input type="text" placeholder="Enter you location" id="city">
            <button id="srchBtn">Search</button>
            <p id="forcast"></p>
        {{>footer}}
    </body>
</html>