<html>

<head>
    <title>Login</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/login.js"></script>
</head>

<body>
    <div>
        <label>UserName</label>
        <input type="text" id="username"><br><br>
        <label>Password</label>
        <input type="password" id="password"><br><br>
        <button>Login</button><br><br>
        <input type="checkbox" id="remberMe">Remember Me
    </div>
</body>

</html>